/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
div, header, {
display: block;
}


/* ==== BASE STYLES ==== */

* {
  box-sizing: border-box;}

  /* ==== LAYOUT STYLES ==== */

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
img, {
  margin-bottom: 1rem;
}

body {
  width: 100%;
  height: 100%;
  background: url('assets/freedom.jpeg') no-repeat center;
  background-size: cover;
  color: #333;
  background-position: center center;
  background-attachment: fixed;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

.lang-en {
  width: 50px;
  text-decoration: none;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px;
  position: fixed;
}

.lang-it {
  width: 50px;
  text-decoration: none;
  margin: 0px 0px 0px 0px;
  padding: 10px 19px;
  position: fixed;
}

.lang-de {
  width: 55px;
  text-decoration: none;
  margin: 0px 0px 0px 0px;
  padding: 10px 19px;
  position: fixed;
}

.lang-hu {
  width: 55px;
  text-decoration: none;
  background-color: white;
  color: goldenrod!important;
  margin: 0px 0px 0px 0px;
  padding: 10px 1px;
  position: fixed;
}

.lang-menu {
  width: 30vw;
  height: 8vw;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  display: inline-flex;
}

li {
  text-align: center;
  font: 1.5rem 'Julius Sans One', sans-serif;
  display: inline-flex;
  padding: 2.6rem;
  text-decoration: none;
  align-items: center;
}

.p {
  display: block;
}

.links {
  display: inline-block;
}

.wrapper {
  padding-top: 14rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
}

a:link    {
  text-decoration: none;
  color: goldenrod;
}

a:visited {
  color: goldenrod;
  text-align: center;
  text-decoration: underline;
  display: flex;
}

a:hover {
  color: goldenrod;
  box-shadow: hsla(360, 100%, 100%, 1) 2px 2px 10px;
  text-decoration: none;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.1rem;
  font-style: italic;
}
